{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ with .Site.GetPage "section" "posts" }}
{{ range .Data.Pages.GroupByDate "2006" }}
<h2 style="text-align: center; color: #828282">{{.Key}}</h2>
{{ range .Pages }}
   <li style="font-size: 24px;margin-bottom: 10px; list-style: none">
      <span style="float: right; clear: both; margin-bottom: 5px;font-size: 14px; color: #828282;">{{ .Date.Format "Mon Jan 2 2006" }}</span>
      <span><strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong></span>
  </li>

{{ end }}
{{ end }}
{{ end }}


{{ partial "footer.html" . }}
